<!DOCTYPE html>
<html xmlns: xmlns:th="http://www.springframework.org/schema/data/jaxb" th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Spring MVC</title>
    <link  href="http://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
           th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
           rel="stylesheet" media="screen"
    />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.4.1/jquery.min.js"
            th:src="@{webjars/jquery/3.4.1/jquery.min.js}"
    ></script>
    <link href="../static/spring-core.css"
          th:href="@{spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>
<h1>Hello world</h1>
<h2>Thymeleaf starting page</h2>
</body>
</html>